.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: relative; /* Ensure positioning context for absolute centering */
  }
  
  .box {
    background-color: #3b4d5a;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%; /* Adjust box width as needed */
    border: 1px solid #ccc;

  }

  
  .resultBox {
    background-color: #3b4d5a;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
  }
  
  .resultBox h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  .checkboxGroup {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Adjust alignment */
  }
  
  .checkboxGroup div {
    flex: 0 0 calc(10% - 20px); /* Adjust width for each day */
    margin-bottom: 10px;
  }
  
  .checkboxGroup label {
    color: white; /* Set label text color */
  }
  
  .checkboxGroup input[type="checkbox"] {
    transform: scale(1.7); /* Enlarge the checkboxes */
  }
  
  .inputGroup label,
  .checkboxGroup label {
    display: block;
    margin-bottom: 8px;
  }
  
  .inputGroup select,
  .checkboxGroup input {
    padding: 4px;
    margin-right: 10px;
    margin-top: 10px;
    color: black; /* Set text color for select dropdown */
  }
  
  .calculateButton {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .calculateButton:hover {
    background-color: #45a049;
  }
  
