.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.container:hover {
  background-color: var(--textSoft);
}

.active {
  background-color: var(--textSoft);
  color: black;
  padding: 5px;
  border-radius: 20px;
}
